.Rproj.user/38FA6833/pcs/files-pane.pper
*.RData
*.pper
.Rproj.user/38FA6833/sdb/per/t/DC0BCCF
.Rproj.user/38FA6833/sdb/prop/1085CDD7
.Rproj.user/38FA6833/sdb/prop/18BA5B27
*.Rhistory
.Rproj.user/38FA6833/sdb/prop/738E3495
.Rproj.user/38FA6833/sdb/prop/A0F91487
.Rproj.user/38FA6833/sdb/prop/A75C1C67
.Rproj.user/38FA6833/sdb/prop/INDEX
data/household_power_consumption.txt
*.Rproj